.portfolioimg{
     display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
}
.expwork{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;


}
.expwork img{
    width: 100%;
    border-radius: 10px;
    display: flex;
    transition: transform 0.5s;
    height: 300px;
}
.expwork:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #847b64);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5rem;
    text-align: center;
    font-size: 0.9rem;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 1.3rem;
}
.layer a{
    margin-top: 1.25rem;
    color: rgb(31, 32, 33);
    text-decoration: none;
    display: block;
    background: white;
    border-radius: 30px;
    padding: 0.5rem;
}
.layer a:hover{
    background: rgb(122, 108, 25);
    color: rgb(225, 233, 240);
    
}
.expwork:hover .layer{
    height: 100%;
}